# general
.DS_Store

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependency directories
node_modules/

# optional npm cache directory
.npm

# editor directories and files
.vscode