.item-tip-pover
  position absolute
  background rgba(30, 66, 163, 0.8)
  border-radius 4px
  padding 6px
  color white
  text-shadow black 1px 1px
  font-size 14px
  .name
    font-size 20px
  .equip
    color #e7d0d0
    font-size 17px
  .dsc
    color white
    margin-top 5px
  .btn
    margin-top 10px
    color white
  img
    width 200px
    margin-top 10px
