*
  box-sizing border-box
  user-select none
  list-style none
  -ms-box-sizing border-box 	/* IE 9 */
  -moz-box-sizing border-box 	/* Firefox */
  -webkit-box-sizing border-box /* Safari 和 Chrome */
  -o-box-sizing border-box 	/* Opera */
  &::-webkit-scrollbar
    display none

body
  font-family mainfont
  padding 0px
  margin 0px
  font-weight 200
  -ms-overflow-style none
  -moz-overflow-style none
  -webkit-overflow-style none
  -o-overflow-style none

@font-face
  font-family 'mainfont'
  src url('../assets/font/mainfont.otf')
  font-weight normal
  font-style normal

ul
  margin 0px
  padding 0px
  
.btn
  display inline-block
  text-align center
  padding 2px 4px
  border 1px solid #fff
  border-radius 2px
  cursor pointer
  text-decoration none
  outline none
  transition all 0.3s ease-in-out

.font-min
  font-size 12px

.m-t-10
  margin-top 10px
.m-b-10
  margin-bottom 10px
.m-b-4
  margin-bottom 4px
/*
.m-l-10
  margin-bottom 10px
.m-r-10
  margin-bottom 10px
*/

.text-c
  text-align center
.text-l
  text-align left
.text-r
  text-align right

.f-r
  float right

.radius-4
  border-radius 4px
.radius-2
  border-radius 2px

.game-main-loading
  display none