// ui
$primary-color = #377bb5
$bg-color = #47485c
$bg-label-color = #6d7083
$bg-item-color = #232731
$trash-color = #507c59

// text
$text-color-red = #f86060

// map
$hero-color = #886bfa
$chest-color = #6e4633
$event-color = #539ad8
$road-color = #c3944e
$stick-color = #51963d

// shadow
$hover-shadow = 0px 0px 4px #eee inset
$hover-shadow-small = 0px 0px 2px #eee inset
