// ui
$primaryColor = #377bb5
$bgColor = #47485c
$bgLabelColor = #6d7083
$bgItemColor = #232731
$delColor = #507c59
$redColor = #f86060

// map
$heroColor = #886bfa
$chestColor = #6e4633
$eventColor = #539ad8
$roadColor = #c3944e
$stickColor = #51963d

// shadow
$hoverShadow = 0px 0px 4px #eee inset
$hoverShadowSmall = 0px 0px 2px #eee inset