.item-tool-tip-pover .name{
  font-size: 20px;
}

.item-tool-tip-pover .equip{
  color:#e7d0d0;
  font-size: 17px;
}

.item-tool-tip-pover .dsc{
  color: white;
  margin-top: 5px;
}

.item-tool-tip-pover{
  background: rgba(30, 66, 163, 0.8);
  border-radius: 4px;
  padding: 6px;
  color: white;
  text-shadow: black 1px 1px;
  font-size: 14px;
  z-index: 99;
}

.item-tool-tip-pover .btn{
  margin-top: 10px;
  color: white;
}

.item-tool-tip-pover .image{
  width: 200px;
  margin-top: 10px;
}